h1,h2{
    text-align: center;
    
}


#resultado-por-año{
    background-color: rgb(101, 177, 240);
    color: whitesmoke;
}
#resultado-orden-asc{
    background-color: rgba(30, 19, 128, 0.74);
    color:whitesmoke;
}

#resultado-promedio{
    background-color: rgb(101, 177, 240);
    color:whitesmoke;
}
#footer{
    background-color: rgba(42, 13, 231, 0.973);
    color:whitesmoke;
}